[Unit]
Description=Run IT Army Box Distress BPS collector periodically

[Timer]
OnBootSec=40s
OnUnitActiveSec=300s
Unit=itarmybox-distress-bps-collector.service
Persistent=true

[Install]
WantedBy=timers.target
